<%= form_for @bathroom do |f| %>

<!-- Error handling to ensure quality data-->
  <% if bathroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this bathroom from being saved:</h2>

      <ul>
      <% bathroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- Form -->

<% end %>
