<h1>Bathrooms Index</h1>
<h2>ADMIN ACCESS ONLY</h2>

<hr>

<% @bathrooms.each do |bathroom| %>
  <p>
      Where located:
      <%= bathroom.location_description %>
      <br>
      Location ID:
      <%= bathroom.location_id %>
<% end %>
  <hr>
  </p>
