<h1>About Weeme </h1>

<br>
<strong><p>What is Weeme restrooms?</p></strong>
<p>Weeme is a web application that seeks to provide safe restroom access for transgender, intersex, and gender nonconforming individuals. When the Safe2Pee website passed out of functionality it left a hole in our hearts. Weeme picks up the torch where Safe2Pee left off and makes the valuable resource available to those who find themselves in need of a place to pee safely once again. Users can search for restrooms by proximity to a search location, add new restroom listings, as well as comment and rate existing listings. We seek to create a community focused not only on finding existing safe restroom access but also looking forward and participating in restroom advocacy for transgender, intersex, and gender nonconforming folk.</p>
<br>
<strong><p>What can we do to help?</p></strong>
<p>First: Add listings. The database is only as big as you make it. The more listings, the more comprehensive and valuable the resource can be.</p>
<p>Secondly: Spread the word. Tweet. Facebook. Tumblr. Blog. Whatever it is that you do, do it. Let people know about this resource.</p>
