// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_image {
  width: 20vw;
}

.style_image_1 {
  width: 5vw;
}

.form-control {
  margin-left: 625px;
}

.col-md-4 {
  margin-left: 450px;
}
